<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
    <section class="caixaTransacoes">
        <article class="areaTransacoes">
            <h2>Transaçõs</h2>
            <div class="infoDespesasReceitas">
                <div class="despesas">
                <h3>Despesas</h3>
                <p>R$ <span id="valorDespesas">0.00</span></p>
            </div>
            <div class="receitas">
                <h3>receitas</h3>
                <p>R$ <span id="valorReceitas">0.00</span></p>
            </div>
            </div>
            
        </article>


        <article id="caixaDinamico">
            <!-- Exemplo  -->
           <!--   -->
        </article>
    </section>







    <section class="adicionarValores">
        <article class="exibircao">
            <div>
                <h2>Valor Atual</h2>
                <p>R$ <span id="valorAtual"></span></p>
            </div>
            <div>
                <h2>fundo de reserva</h2>
                <p>R$ <span id="valorReserva"></span></p>
            </div>
            <div>
                <h2>fundo de invetimento</h2>
                <p>R$ <span class="valorInvetimento"></span></p>
            </div>
        </article>
        <article class="novoItem">
            <div class="caixaNovaTransacao">
                <h2>Adicionar nova Transação</h2>
                <label for="">nome</label><br>
                <input type="text"><br>
                <label for="">valor</label><br>
                <input type="text"><br>
                <label for="">data de vencimento</label><br>
                <input type="text"><br>
                <label for="">status</label><br>
                <input type="text"><br>
                <button>adicionar</button>
            </div>
        </article>
    </section>
</main>
<script type="module" src=""></script>
</body>
</html>