.divAdicionar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10%;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    padding: 2%;
    color: white;
}